:root {
  --rating-color-good: #27ae60;
  --rating-color-mid: #E8DE2A;
  --rating-color-bad: #e74c3c;
}
body{
	background:black;
    font-family: 'Open Sans', sans-serif;
}
.choice{
	font-size:25px;
	display:block;
	border-radius:10px;
	border:2px solid #C5CDED;
	width:220px;
	height:45px;
	margin-top:8px;
	text-align:left;
	background:#454545; color:grey;
	margin:auto;
	margin-top:8px;
	        color: #C5CDED;
	text-shadow:
          0 0 40px rgba(197, 205, 237, .7),
          0 0 70px rgba(197, 205, 237, .7),
          0 0 130px rgba(197, 205, 237, .7);
}
.choice:hover{
	cursor:pointer;
}
#question{
	color:#FF0079;
	 text-shadow:
          0 0 18px rgba(255, 0, 121, .7),
          0 0 48px rgba(255, 0, 121, .7),
          0 0 108px rgba(255, 0, 121, .7);
	display:inline;
	font-style:italic;
	font-size:22px;
}
#choices{
	margin-top:12px;
	margin-bottom:20px;
}
#skipbtn{
	position:fixed;
	font-size:27px;
	padding-left:10px;
	padding-right:10px;
	background:black;
	border:1px solid #FF0079;
	border-radius:10px;
	color:#FF0079;
}
#skinbtn:hover{
	cursor:pointer;
}
.CorrectAns{
	border:None;
	border:1px solid #90EE90;
	background:#90EE90;	
	color:#fff;
	 box-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 15px #0fa,
      0 0 20px #0fa,
      0 0 25px #0fa;
}
.WrongAns{
	border:None;
	border:1px solid #FF7F7F;
	background:#FF7F7F;	
	color:#fff;
	 box-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
			0 0 15px #FF3300,
			0 0 20px #FF3300,
			0 0 25px #FF3300;

}
#quizEndPanel{
	display:None;
}
#CorrectAnsContainer{
	color:#90EE90;	
}
#container{
	display:flex;
	align-items:center;
	justify-content:center;
}
#WrongAnsContainer{
	color:#FF7F7F;	
}
#navbar{
	border:2px solid grey;
	border-radius:12px;
	padding:5px;
  font-family: 'Edu TAS Beginner', cursive; 
	text-align:center;
	margin-bottom:50px;
}
#heading{
	color:#9C3D54;
	text-decoration:none;
	font-size:25px;
	font-weight:Bold;
	font-size:30px;
	color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 14px #f09,
      0 0 21px #f09,
      0 0 28px #f09,
      0 0 35px #f09,
      0 0 491px #f09;

}
#Scorecircle{
	height:120px;
  width: 120px;
	border-radius:50%;
	background: conic-gradient(var(--rating-color-bad)250deg, #ededed 0deg);
	display:flex;
	align-items:center;
	justify-content:center;
	box-sizing:border-box;
	margin:0;
	padding:0;
	color:white;
}
#Scorecircle:before{
	content: "";
	position:absolute;
	height:95px;
	width:95px;
	border-radius:50%;
	background-color:black;
	animation: bg-pie 12s step-end infinite;

}
#score{
	position:absolute;
	z-index:1000;
	color:white;
	font-size:40px;
}
#footer-container{
	position:fixed;
	bottom:0;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
#footer{
	font-size:16px;
	color:grey
}
#footer a{
	color:#2832c2;
	color: #fff;
  text-shadow:
      0 0 7px #5271ff,
      0 0 10px #5271ff,
      0 0 21px #5271ff,
      0 0 42px #5271ff,
      0 0 82px #5271ff;
	font-style:italic;
}
@keyframes spin-rotate {
  to { transform: rotate(.5turn); }
}
.NeonRed{
color: #fff;
  text-shadow:
      0 0 7px #FF3300,
      0 0 10px #FF3300,
      0 0 21px #FF3300,
      0 0 42px #FF3300,
      0 0 82px #FF3300;
	

}
.NeonGreen{
color: #fff;
  text-shadow:
      0 0 7px #0fa,
      0 0 10px #0fa,
      0 0 21px #0fa,
      0 0 42px #0fa,
      0 0 82px #0fa;
}
.NeonYellow{
color: #fff;
  text-shadow:
      0 0 7px #FFFF33,
      0 0 10px #FFFF33,
      0 0 21px #FFFF33,
      0 0 42px #FFFF33,
      0 0 82px #FFFF33;
}
