body{
	background-color:black;
}
#navbar{
	border:2px solid grey;
	border-radius:12px;
	padding:5px;
  font-family: 'Edu TAS Beginner', cursive; 
	text-align:center;
	margin-bottom:50px;
}
#heading{
	color:#9C3D54;
	font-size:25px;
	font-weight:Bold;
	font-size:30px;
	color:#FF69B4;
}
.NeonRed{
color: #FF3300;
}
#footer{
	font-size:16px;
	color:grey
}
#footer a{
	color: #5271ff;
	font-style:italic;
}
#footer-container{
	position:fixed;
	bottom:0;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
#buttoncontainer{
	display:flex;
	justify-content:center;
	align-items:center;
}
#start{
	font-size:30px;
	border:None;
	color:#fff ;
	text-decoration:None;
	border-radius:25px;
	color:#fff;
	font-size:30px;
	color: #FF6EC7;
	font-family: 'Open Sans', sans-serif;
}
