body{
	background-color:black;
}
#navbar{
	border:2px solid grey;
	border-radius:12px;
	padding:5px;
  font-family: 'Edu TAS Beginner', cursive; 
	text-align:center;
	margin-bottom:50px;
}
#heading{
	color:#9C3D54;
	font-size:25px;
	font-weight:Bold;
	font-size:30px;
	color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;

}
.NeonRed{
color: #fff;
  text-shadow:
      0 0 7px #FF3300,
      0 0 10px #FF3300,
      0 0 21px #FF3300,
      0 0 42px #FF3300,
      0 0 82px #FF3300;
	
}
#footer{
	font-size:16px;
	color:grey
}
#footer a{
	color:#2832c2;
	color: #fff;
  text-shadow:
      0 0 7px #5271ff,
      0 0 10px #5271ff,
      0 0 21px #5271ff,
      0 0 42px #5271ff,
      0 0 82px #5271ff;
	font-style:italic;
}
#footer-container{
	position:fixed;
	bottom:0;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
#buttoncontainer{
	display:flex;
	justify-content:center;
	align-items:center;
}
#start{
	font-size:30px;
	border:None;
	color:#fff ;
	border-radius:25px;
	color:#fff;
	font-size:30px;
	color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;
			    font-family: 'Open Sans', sans-serif;
}
#start{
	color:#9C3D54;
	text-decoration:none;
	font-size:25px;
	font-weight:Bold;
	font-size:30px;
	color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;
}
